@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255, 1;
    --foreground: 17, 17, 17, 1;

    --muted: 210 40% 96.1%;
    --muted-foreground: 115, 115, 115, 1;

    --popover: 255, 255, 255, 1;
    --popover-foreground: 17, 17, 17, 1;

    --card: 242, 242, 242, 1;
    --card-foreground: 17, 17, 17, 1;

    --border: 211, 211, 211, 1;
    --input: 136, 136, 136, 1;

    --primary: 6, 95, 212, 1;
    --primary-foreground: 255, 255, 255, 1;

    --secondary: 242, 242, 242, 1;
    --secondary-foreground: 17, 17, 17, 1;

    --accent: 29, 155, 240, 1;
    --accent-foreground: 255, 255, 255, 1;

    --destructive: 239, 67, 67, 1;
    --destructive-foreground: 248, 250, 252, 1;

    --ring: 29, 155, 240, 1;

    --radius: 0.5rem;
  }

  .dark {
    --background: 17, 17, 17, 1;
    --foreground: 255, 255, 255, 1;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 161, 161, 161, 1;

    --popover: 17, 17, 17, 1;
    --popover-foreground: 255, 255, 255, 1;

    --card: 43, 43, 43, 1;
    --card-foreground: 255, 255, 255, 1;

    --border: 43, 43, 43, 1;
    --input: 43, 43, 43, 1;

    --primary: 6, 95, 212, 1;
    --primary-foreground: 255, 255, 255, 1;

    --secondary: 43, 43, 43, 1;
    --secondary-foreground: 255, 255, 255, 1;

    --accent: 29, 155, 240, 1;
    --accent-foreground: 255, 255, 255, 1;

    --destructive: 124, 29, 29, 1;
    --destructive-foreground: 254, 241, 241, 1;

    --ring: 29, 155, 240, 1;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }

  body {
    @apply bg-background text-foreground overflow-y-auto;
  }

  main {
    @apply overflow-y-auto;
  }

  main::-webkit-scrollbar {
    @apply w-2;
  }

  main::-webkit-scrollbar-track {
    @apply bg-background py-4 transition;
  }

  main::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground rounded-full transition;
  }
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Dark Mode color palette */
/* 'text': '#ffffff',
'background': '#111111',
'primary': '#2e6a8e',
'secondary': '#2b2b2b',
'accent': '#0b6ec5', */
