@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255, 1;
    --foreground: 17, 17, 17, 1;

    --muted: 210 40% 96.1%;
    --muted-foreground: 115, 115, 115, 1;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 211, 211, 211, 1;
    --input: 136, 136, 136, 1;

    --primary: 6, 95, 212, 1;
    --primary-foreground: 255, 255, 255, 1;

    --secondary: 242, 242, 242, 1;
    --secondary-foreground: 17, 17, 17, 1;

    --accent: 29, 155, 240, 1;
    --accent-foreground: 255, 255, 255, 1;

    --destructive: 239, 67, 67, 1;
    --destructive-foreground: 248, 250, 252, 1;

    --ring: 29, 155, 240, 1;

    --radius: 0.5rem;
  }

  .dark {
    --background: 17, 17, 17, 1;
    --foreground: 255, 255, 255, 1;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 161, 161, 161, 1;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 43, 43, 43, 1;
    --card-foreground: #f0f6fc;

    --border: 43, 43, 43, 1;
    --input: 43, 43, 43, 1;

    --primary: 6, 95, 212, 1;
    --primary-foreground: 255, 255, 255, 1;

    --secondary: 43, 43, 43, 1;
    --secondary-foreground: 255, 255, 255, 1;

    --accent: 29, 155, 240, 1;
    --accent-foreground: 255, 255, 255, 1;

    --destructive: 124, 29, 29, 1;
    --destructive-foreground: 254, 241, 241, 1;

    --ring: 29, 155, 240, 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Dark Mode color palette */
/* 'text': '#ffffff',
'background': '#111111',
'primary': '#2e6a8e',
'secondary': '#2b2b2b',
'accent': '#0b6ec5', */
